page-login {

    .no-scroll {
        .scroll-content:not(.show-scrollbar) {
            margin-right: -17px;
            overflow-y: scroll;
        }
    }
    
    .content{
        background-color: color($colors, secondary);   
    }

    h5{
        color: color($colors, primary);
    }

    .title {
        font-family: 'Angelina';
        text-align: center;
        width: 100%;
        height: 20vh;
        line-height: 20vh;
        font-size: 5rem;
        font-weight: 500;
        color: color($colors, light);
    }

    .error-message{
        color: color($colors, danger);
    }

    .item{
        margin-bottom: 10px;
        background-color: color($colors, secondary);  
    }

    .input{
        color: color($colors, primary); 
    }

    ion-footer {
        height: 47px;
        .toolbar-background {
        background: transparent !important;
        background-color: transparent !important;
        }
        .footer {
        text-align: center;
        background-color: color($colors, primary);
        min-height: 47px;
        }
        .text-footer{
            color: color($colors, light);
        }
    }
}
