page-home {
    
    .no-scroll {
        .scroll-content:not(.show-scrollbar) {
            margin-right: -17px;
            overflow-y: scroll;
        }
    }
    
    .content{
        background-color: color($colors, secondary);   
    }
    
    .title {
        font-family: 'Angelina';
        text-align: center;
        width: 100%;
        height: 15vh;
        line-height: 15vh;
        font-size: 5rem;
        font-weight: 500;
        color: color($colors, light);;
    }

    .card{
        margin: 0px;
        width: 100%;
        position: relative;
        text-align: center;
        padding-bottom: 20px;
    }


    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }


    
}
